/* header -------------------------- */
header {
    padding: 0;

    background-color: $bgcolor;
    font: 24px/36px $fontCaption;
    color: $white;
    /*@include bgsize;*/
    @include sizing;


    a {
        color:$link;
    }
    p {
        color:#fff;
    }
    .layer {
        height:100%;
        padding:7vmin 0 10vmin 0;

        /*background-color:rgba(255,255,255,.1);*/

    }
    #cf_widget_iframe {
        position: absolute;
        right:15%;
        top:15%;
        background-color:rgba(255,255,255,.5);
    }

    h1 {
        font-size: 3.8vmin;
        font-weight: $f-medium;
        margin-bottom: 38px;
        span {
            font-weight: $f-extra-light;
        }
    }
    .autor {
        padding: 12px 0 0;
        font-size: 14px;
        line-height: 24px;
        font-weight: bold;
        color: $white;
        a {
            color: $white;
            &:hover {
                color: $white;
                @include opacity(0.8);
            }
            &:active {
                color: $white;
                @include opacity(1);
            }
        }
    }
    .buttons-wrapper {
        padding-top: 53px;
        .button-stripe {
            margin-left: 14px;
        }
    }
}
.header-img {
    float: right;
}
.header-wrapper {
 display:none;
}