@import "variables";
@import "mixins";
@import "reset";
@import "common";
@import "header";
@import "footer";
@import "home";
@import "content";
@import "sidebar";
@import "media";

.top50 { margin-top:50px;}

.logo {
  vertical-align: middle;
  color:rgba(255,255,255,.5);
  font-size:1.8em;
  transition: color 1s;
  img {
    height:50px;
    vertical-align: middle;
    color:#fff;
  }

  &:hover {
    text-decoration: none;
  }
}

iframe.innocoin {
  border:6px solid rgba(255,255,255,.5);


  @media (min-width: 301px) and (max-width: 400px) {
    border-width: 3px!important;
  }

  @media (min-width: 251px) and (max-width: 300px) {
    border-width: 1px!important;
  }

  @media (min-width: 0) and (max-width: 251px) {
    border-width: 0px!important;
  }

}

div.iframe {


  @media (min-width: 351px) and (max-width: 450px) {
    padding:3px!important;
  }

  @media (min-width: 251px) and (max-width: 350px) {
    padding:2px!important;
  }

  @media (min-width: 0) and (max-width: 250px) {
    padding:0px!important;
  }


}

div.iframer {
  border:3px solid rgba(255,255,255,.5);
  border-radius: 2px;
  display: inline-block;
  max-height:476px;
}