<div class="main">
  <header>
    <div class="layer">
      <div class="wrap">
        <a ui-sref="home" class="logo"><img src="/assets/images/etherkopen.png"/></a>

        <div class="row top30">

          <div class="col-md-6">
            <p>Ether (ETH) is een verhandelbaar token/ bezit, het fungeert als brandstof voor Ethereum resources, zoals smart contracts.</p>
            <p>Tip: lees onze handleiding: <a ui-sref="manual"><i class="fa fa-book"></i>  Uitleg ethereum wallet installeren en daarna ether kopen met behulp van de ether aankoop widget.</a></p>
            <p>Ethereum is een gedecentraliseerd ontwikkel platform waarop smart contracts uitgevoerd worden; wat dat precies betekent kunt u zien in de video's.</p>
          </div>

          <div class="col-md-6 iframe">
            <div class="header-wrapper text-center">
              <h1>Ether kopen <span>(Ethereum)</span></h1>
            </div>

            <div class="iframer">
              <iframe ng-src="{{vm.iframe1}}" border="0" scrolling="no" class="innocoin w500 h470"></iframe>
            </div>
          </div>

        </div>

      </div>
    </div>
  </header>

  <section id="trades" class="top100">
    <div class="wrap">
      <h2 class="section-heading top70">Laatste Trades</h2>
      <div class="trades-container">
        <iframe ng-src="{{vm.iframe2}}" ng-if="!debug" class="trades-widget top20"></iframe>
      </div>
    </div>
  </section>

  <div class="spanning">
    <div class="promo clearfix">
      <div class="wrap">
        <div class="promo-wrapper clearfix">
          <div class="promo-column">
            <img src="/assets/images/pin.png" height="32" width="24" alt="">
            <h5>Locatie</h5>
            <p>Ether is te koop op diverse exchanges, waaronder Kraken en Poloniex.</p>
          </div>
          <div class="promo-column">
            <img src="/assets/images/settings.png" height="32" width="33" alt="">
            <h5>Configuratie</h5>
            <p>Stel het aantal Ether in dat je wilt aankopen.</p>
          </div>
          <div class="promo-column">
            <img src="/assets/images/easy.png" height="32" width="34" alt="">
            <h5>Gemakkelijk</h5>
            <p>Geef je ethereum address op. </p>
          </div>
          <div class="promo-column">
            <img src="/assets/images/saturn.png" height="32" width="32" alt="">
            <h5>Wereldwijd</h5>
            <p>Je bent een early adaptor, een burger van de gedistribueerde economie. </p>
          </div>
        </div>
      </div>
    </div>

    <div class="video clearfix">
      <div class="wrap">
        <div class="video-title">Wat is Ethereum?</div>
        <div class="video-subtitle">Informatie video's</div>
        <div class="video-container">


          <div class="row">
            <div class="col-md-6">
              <strong class="text-center">Het probleem</strong>
              <iframe width="100%" height="458" src="https://www.youtube.com/embed/97ufCT6lQcY" frameborder="0" allowfullscreen ng-if="!test"></iframe>
            </div>

            <div class="col-md-6">
              <strong class="text-center">De oplossing</strong>
              <iframe width="100%" height="458" src="https://www.youtube.com/embed/j23HnORQXvs" frameborder="0" allowfullscreen ng-if="!test"></iframe>
            </div>

          </div>

        </div>
      </div>


      <div class="wrap small-videos">
        <div class="row">
          <div class="col-md-4">
            <iframe width="100%" height="195" src="https://www.youtube.com/embed/r7GVVk8v2Ik" frameborder="0" allowfullscreen ng-if="!test"></iframe>
          </div>

          <div class="col-md-4">
            <iframe width="100%" height="195" src="https://www.youtube.com/embed/Clw-qf1sUZg" frameborder="0" allowfullscreen ng-if="!test"></iframe>
          </div>

          <div class="col-md-4">
            <iframe width="100%" height="195" src="https://www.youtube.com/embed/fbEtivJIfIU" frameborder="0" allowfullscreen ng-if="!test"></iframe>
          </div>
        </div>

      </div>


      <div class="discover clearfix">
      <div class="wrap">

        <div class="row">

          <div class="col-md-6">

            <!--<iframe height="340px" width="300px" id="cf_widget_iframe" data-size="large" style="border: medium none;" src="https://www.worldcoinindex.com/widget/renderWidget?size=large&amp;from=ETH&amp;to=btc&amp;clearstyle=true"></iframe>-->

            <iframe width="95%" height="650" frameborder="0" allowfullscreen="" scrolling="no" allowtransparency="true" src="https://www.tradingview.com/widgetembed/?symbol=POLONIEX%3AETHBTC&amp;interval=5&amp;hidetoptoolbar=1&amp;hidesidetoolbar=1&amp;symboledit=0&amp;saveimage=0&amp;toolbarbg=f1f3f6&amp;studies=&amp;hideideas=1&amp;theme=White&amp;style=1&amp;timezone=Etc%2FUTC&amp;studies_overrides=%7B%7D&amp;overrides=%7B%7D&amp;enabled_features=%5B%5D&amp;disabled_features=%5B%5D&amp;locale=en&amp;utmsource=www.tradingview.com&amp;utmmedium=www.tradingview.com/widget/" id="tradingview_7180d" ng-if="!test"></iframe>

          </div>

          <div>

            <h2>Ontdek Ethereum</h2>
            <p>
              Ethereum gaat 'echte wereld problemen' oplossen, er zijn veel use cases waar data niet meer gemuteerd mag worden nadat het een informatie systeem ingaat;

              financiele applicaties, identiteit/ vingerafdrukken/ paspoort applicaties, juridische en tijdsmarkeer applicaties, publieke registers, internet of things, crypto currency enzovoort.
            </p>

            <p>
              Ethereum is revolutionair omdat het software ontwikkelaars mogelijk maakt om in elke programmeertaal <a href="http://bitsonblocks.net/2016/02/01/a-gentle-introduction-to-smart-contracts/">'smart contracts'</a> te maken op het ethereum protocol en de blockchain.

              Omdat het een volledig open platform is, spreekt dit project wereldwijd aan bij developers .</p>

            <p>Let op er is nog geen final wallet software, maar men kan ervoor kiezen de ether op de exchange te laten staan (met bijbehorende risico's aangezien je de private key niet zelf in bezit hebt daar), of men kan de pre-release <a href="https://www.youtube.com/watch?v=5CligsIBTcg">Mist Wallet</a> gebruiken, vergeet niet de backup van de wallet te doen in dat geval.</p>

            <p>Hier kan men <a href="https://github.com/ethereum/mist/tags">de tags</a> van de Mist Wallet krijgen, kies het hoogste nummer en click dan op downloads. Kies vervolgens de juiste download voor het eigen besturingssysteem. </p>

            <p><a ui-sref="chart" target="_blank"><strong>Klik hier op de kaart in full screen view te openen</strong> <i class="fa fa-external-link" aria-hidden="true"></i> </a></p>

          </div>

        </div>


        </div>
      </div>
    </div>

    <div class="comments clearfix">
      <div class="wrap">
        <div class="tab">
          <div class="box visible">
            <h4><a href="#">Wat zegt men over #Etherkopen</a></h4>
            <p>"Blij dat ik Etherkopen gevonden heb"</p>
          </div>

        </div>
      </div>
    </div>

    <div class="simple clearfix">
      <div class="wrap">

        <div class="row">
          <div class="col-md-8 simple-content-left">
            <h3>Ethereum in het nieuws</h3>
            <ul>


              <li><a href="https://decorrespondent.nl/70/Hoe-Bitcoin-de-oude-idealen-van-het-internet-nieuw-leven-inblaast/12911778880-ecc7c2e7"><i class="fa fa-newspaper-o"></i> Hoe Bitcoin de oude idealen van het internet nieuw leven inblaast
              </a></li>

              <li><a href="http://www.nrcq.nl/2015/08/03/de-nieuwe-concurrent-voor-banken-notarissen-facebook-en-dropbox-heet-ethereum"><i class="fa fa-newspaper-o"></i> De nieuwe concurrent voor banken, notarissen én Facebook heet Ethereum
              </a></li>

              <li><a href="http://www.winmagpro.nl/content/ethereum-de-volgende-stap-in-digitale-innovatie"><i class="fa fa-newspaper-o"></i> Ethereum, de volgende stap in digitale innovatie
              </a></li>

              <li><a href="http://www.nrcq.nl/2015/08/03/de-nieuwe-concurrent-voor-banken-notarissen-facebook-en-dropbox-heet-ethereum"><i class="fa fa-newspaper-o"></i> De nieuwe concurrent voor banken, notarissen én Facebook heet Ethereum
              </a></li>


              <li><a href="http://www.nrc.nl/next/2015/08/05/ethereum-onthoud-dat-woord-1523935"><i class="fa fa-newspaper-o"></i> Ethereum. Onthoud dat woord
              </a></li>


              <li><a href="http://www.nrc.nl/handelsblad/2015/08/04/de-nieuwe-concurrent-voor-bank-notaris-en-faceboo-1520880"><i class="fa fa-newspaper-o"></i> De nieuwe concurrent voor bank, notaris en Facebook heet Ethereum
              </a></li>


              <li><a href="http://www.advocatie.nl/column-waarom-elke-advocaat-de-blockchain-moet-snappen"><i class="fa fa-newspaper-o"></i> Column: Waarom elke advocaat de Blockchain moet snappen
              </a></li>


            </ul>

          </div>


          <div class="col-md-4 simple-content">
            <h3>Leer meer over Ethereum</h3>
            <ul>
              <li class="clearfix"><a href="https://www.ethereum.org"><i class="fa fa-globe"></i>
                Ethereum Project Site</a></li>
              <li class="clearfix"><a href="https://blog.ethereum.org/"><i class="fa fa-file-text-o"></i>
                Ethereum Weblog</a></li>
              <li class="clearfix"><a href="http://forum.ethereum.org/"><i class="fa fa-comments"></i>
                Ethereum Forum</a></li>
              <li class="clearfix"><a href="https://www.youtube.com/user/ethereumproject"><i class="fa fa-youtube-square"></i>
                Ethereum Youtube Channel</a></li>
              <li class="clearfix"><a href="http://ethereum.meetup.com/"><i class="fa fa-beer"></i>
                Meetups</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="real-content clearfix">
      <div class="wrap">


        <div class="row">
          <div class="col-md-3">


            <img src="assets/images/ethereum-city.jpg">

            <img src="assets/images/ethereum-smartcity.jpg">

            <!--<img src="assets/images/ethereum-electricity.png">-->


          </div>


          <div class="col-md-9">

            <h3>Waarom wij denken dat Ethereum een zonnige toekomst heeft</h3>

            <p>We realiseerden ons al vroeg dat bitcoin niet de enige succesvolle cryptocoin c.q. blockchain moet zijn omdat er veel use cases zijn waarvoor bitcoin niet de beste oplossing is.</p>

            <p>In plaats van 500 - 1000 alternatieven van bitcoin te creeren, die allemaal aparte use cases afhandelen en die features aanbieden die zijn gericht op specifieke markten, zien wij veel potentie in de visie van <a href="https://en.wikipedia.org/wiki/Vitalik_Buterin">Vitalik Buterin</a>; hij heeft namelijk een open ontwikkel platform gecreerd bovenop een blockchain (blockchain is techniek achter bitcoin die de transacties samenvoegd in een 'block' en verwerkt, gebruik makende van een <a href="http://chimera.labs.oreilly.com/books/1234000001802/ch07.html#merkle_trees">Merkle Tree</a> om alle transacties te linken aan het block), dit idee biedt oneindige mogelijkheden en alles wat je kan verzinnen kan op die manier worden geprogrammeerd op de Ethereum blockchain, gebruik makende van zogenaamde 'smart contracts'. </p>

            <p>Er is ook veel corporate interesse in het bouwen van applicaties die niet-muteerbare opgeslagen data nodig hebben, daarnaast is er interesse om <a href="https://www.youtube.com/watch?v=kq8RPbFz5UU">micro electriciteit netwerken</a> efficient te laten verlopen met Ethereum, bijvoorbeeld door het automatisch leveren van energie van je zonneboiler aan je buurt als de electriciteit is uitgevallen en daar ook automatisch voor betaald worden. Daarnaast hebben banken interesse en hun <a href="http://www.ibtimes.co.uk/r3-connects-11-banks-distributed-ledger-using-ethereum-microsoft-azure-1539044">blockchain consortium</a> hebben de eerste testen aangekondigd met Ethereum.</p>

            <p>Vanuit een investeerders perspectief is Ethereum ook interessant (en ook erg riskant, vergelijkbaar met Bitcoin), Ether is een verhandelbaar eigendom en kan gekocht worden op exchanges zoals Kraken en Poloniex. Op dit moment zijn twee van de vier releases gerealiseerd en nog niet zoveel exchanges (met hoog volume) verkopen Ether. </p>

            <p>Overheden, grootzakelijk, banken en developers kijken met grote interesse naar Ethereum. </p>

          </div>

        </div>

      </div>
    </div>



    <!-- <div class="newsletter clearfix">
       <div class="wrap">
         <div class="newsletter-title">our newsletter</div>
         <div class="newsletter-form clearfix">
           <form action="">
             <input type="email" placeholder="john@doe.com" class="input-text">
             <input type="button" class="button" value="Subscribe">
           </form>
         </div>
         <p>If you want to recieve monthly updates from us just pop your email in the box. We think that spam is for jerks. And we are no jerks.</p>
       </div>
     </div>-->
  </div>
</div>
<!-- /.main -->
<!-- DOWNLOAD BEGIN --><!--
<section id="download" class="bg-color-main">
  <div class="container-fluid"> <a href="#wrap" class="goto">
    <h2><div class="download"><i class="fa fa-apple"></i> Download App</div></h2>
  </a> </div>
  <div class="block-bg"></div>
</section>-->
<!-- DOWNLOAD END -->
<footer>
  <div class="layer">
  <div class="wrap">

    <p>&copy; {{vm.date | date:'yyyy'}} <a href="https://www.etherkopen.nl">Ether kopen</a>, All Rights Reserved</p>
  </div>

  </div>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39992989-6', 'auto');
  ga('send', 'pageview');

</script>